extends ../layout

block content
	.container
		form(method="GET", action="/admin/category/list")
			.input-group.col-sm-12.pull-right
				input.form-control(type="text", name="queryStr", placeholder="#{inxt.t('name')}、#{inxt.t('time')}")
				span.input-group-btn
					button.btn.btn-default(type="submit") #{inxt.t('find')}
		.row
			table.table.table-hover.table-boedered
				thead
					tr
						th #{inxt.t('name')}
						th #{inxt.t('time')}
						th #{inxt.t('update')}
						th #{inxt.t('del')}
				tbody
					each item in categories
						if item.name.indexOf(queryStr) !== -1 || moment(item.meta.updateAt).format('MM/DD/YYYY').indexOf(queryStr) !== -1
							tr(class="item-id-#{item._id}")
								td #{item.name}
								td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td: a(target="_blank", href="/admin/category/update/#{item._id}") #{inxt.t('update')}
								td
									button.btn.btn-danger.del(type="button", data-id="#{item._id}") #{inxt.t('del')}
	p &nbsp;
	p &nbsp;
	script(src="/js/categorylist.js")