extends ../layout

block content
	.container
		.row
			.col-md-8
				.dl-horizontal
					dt #{inxt.t('title')}:
					dd= book.title
					dt #{inxt.t('author')}:
					dd= book.author
					dt #{inxt.t('year')}:
					dd= book.year
					dt #{inxt.t('alt')}:
					dd
						a(href="#{book.alt}") #{inxt.t('look')}
					dt #{inxt.t('subtitle')}:
					dd= book.subtitle
					dt #{inxt.t('publisher')}:
					dd= book.publisher
					dt #{inxt.t('price')}:
					dd= book.price
					dt #{inxt.t('pages')}:
					dd= book.pages
					dt #{inxt.t('average')}:
					dd= book.rating.average
					dt #{inxt.t('numRaters')}:
					dd= book.rating.numRaters
					dt #{inxt.t('author_intro')}:
					dd= book.author_intro
					dt #{inxt.t('tags')}:
					dd!= book.tags.split('  ').join('<br>')
					dt #{inxt.t('summary')}:
					dd= book.summary
					dt #{inxt.t('catalog')}:
					dd!= book.catalog.split('\n').join('<br>')
			.col-md-4
				//- img.media-object(src="#{book.poster}")
				button.btn.btn-block.btn-success(id="addList") #{inxt.t('addMyBookList')}
				hr
				img.media-object(src="#{book.images.large}", style="width:100%")
				input(type="hidden", value=book._id, id="bookId")
				//- img.media-object(src="#{book.images.medium}")
				//- img.media-object(src="#{book.images.small}")
				hr
				.panel.panel-default
					.panel-heading
						h3 #{inxt.t('comments')}
					.panel-body
						//- data-cid用这个属性来记录此系列评论的最初一条评论是谁发起的
						ul.media-list
							each item in comments
								li.media
									.pull-left
										a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}", title="#{inxt.t('click')}#{inxt.t('addMyBookList')}")
											if item.from.image.indexOf('http') > -1
												img(src="#{item.from.image}", style="width:64px;height:64px;border-radius:50%;")
											else
												//- 拼接服务器地址
												img(src="/headImage/#{item.from.image}", style="width:64px;height:64px;border-radius:50%;")
									.media-body
										h4.media-heading #{inxt.t('Account')} : #{item.from.name}
										p= item.content
										if item.reply && item.reply.length > 0
											each reply in item.reply
												.media
													.pull-left
														a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{reply.from._id}", title="#{inxt.t('click')}#{inxt.t('addMyBookList')}")
															if reply.from.image.indexOf('http') > -1
																img(src="#{reply.from.image}", style="width:64px;height:64px;border-radius:50%;")
															else
																//- 拼接服务器地址
																img(src="/headImage/#{reply.from.image}", style="width:64px;height:64px;border-radius:50%;")
													.media-body
														h4.media-heading
															| #{reply.from.name}
															span.text-info &nbsp;#{inxt.t('reply')}&nbsp;
															| #{reply.to.name}:
														p= reply.content
								hr
						#comments
							form#commentForm(method="POST", action="/user/comment")
								.form-group
									textarea.form-control(name="comment[content]", row="3")
								if user
									button.btn.btn-primary(type="submit") #{inxt.t('submit1')}
								else
									a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") #{inxt.t('loginComment')}
								input(type="hidden", name="comment[book]", value="#{book._id}")
								if user
									input(type="hidden", name="comment[from]", value="#{user._id}")
	p &nbsp;
	p &nbsp;
	script(src="/js/detail.js")